---
layout: default
---

<div class="menu">
    
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  {%- if site.menu.size > 0 -%}
  {% for type in page.types %}
  <div class='menu-type-wrapper'>
    <h2> {{ type }} </h2>
    {% if type == 'Drink' %}
    <div class="dino-wrapper">
        <img src="/images/dino/dino_reaching.png" class="dino-flair"/>
      </div>
    {% else %}
    <div class="dino-wrapper">
        <img src="/images/dino/dino_eating.png" class="dino-flair"/>
      </div>
    {% endif %}

    <ul class="menu-list">
      {%- for menu_item in site.menu -%}
      {% if menu_item.type == type %}
      <li class='menu-item'>
        <div class='menu-wrapper'>
          {%- if menu_item.image_url -%}
          <div class='menu-image'>
              <img src="{{ site.baseurl }}/{{ menu_item.image_url }}"/>
          </div>
          {%- endif -%}
          <div class='menu-content'>
            <h3>
                {{ menu_item.name | escape }}
            </h3>
            {{ menu_item.description }}
          </div>
        </div>

      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>

  {% endfor %}
  {%- endif -%}

</div>
