---
layout: default
---

<div class="team">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.menu.size > 0 -%}
    <ul class="menu-list">
      {%- for menu_item in site.menu -%}
      <li class='menu-item'>
        <div class='menu-wrapper'>
          {%- if menu_item.image_url -%}
          <div class='menu-image'>
              <img src="{{ site.baseurl }}/{{ menu_item.image_url }}"/>
          </div>
          {%- endif -%}
          <div class='menu-content'>
            <h3>
                {{ menu_item.name | escape }}
            </h3>
            {{ menu_item.description }}
          </div>
        </div>

      </li>
      <br><br>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
